<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" [routerLink]="['/tabs/tab1']">
      <ion-img class="tab-icon" src="assets/icon/pokebal.jpg"></ion-img>
      <ion-label>Oblíbení</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" [routerLink]="['/tabs/tab2']">
      <ion-img class="tab-icon" src="assets/icon/pokebal.jpg"></ion-img>
      <ion-label>Vyhledat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" [routerLink]="['/tabs/tab3']">
      <ion-img class="tab-icon" src="assets/icon/pokebal.jpg"></ion-img>
      <ion-label>Porovnat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
